/* body {
  margin: 0;
  background-image: linear-gradient(to bottom right,blue, indigo, violet);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh; 
  /* Center and scale the image nicely */
  /* background-position: center;
} */ */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
